ADMIN_PASSWORD=
ADMIN_USERNAME=

DB_DRIVER=org.postgresql.Driver
DB_PASSWORD=
DB_URL=
DB_USER=

IMG_DB_DRIVER=
IMG_DB_PASSWORD=
IMG_DB_URL=
IMG_DB_USER=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:8080/callback

HOST=0.0.0.0
PORT=8080
SESSION_COOKIE_NAME=user_and_session

PUBLIC_URL=localhost:8080